@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl 
    font-bold 
    md:text-5xl;
  }

  h2 {
    @apply 
    text-2xl 
    font-bold 
    md:text-4xl;
  }

  h3 {
    @apply 
    text-xl 
    font-bold 
    md:text-3xl;
  }

  h4 {
    @apply text-lg 
    font-bold;
  }

  body {
    @apply text-sm 
    md:text-base;
  }

  .layout {
    @apply container 
    mx-auto 
    px-4;
  }
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

.react-tel-input .form-control {
  position: relative;
  font-size: 1rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 48px;
  margin-left: 0;
  padding-right: 1rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border: none;
  border-bottom: 1px solid rgb(209 213 219);
  border-radius: 1rem;
  line-height: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
}

.react-tel-input .flag-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid rgb(209 213 219);
  border-radius: 1rem 0 0 1rem;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background-color: #fff;
  border-radius: 1rem 0 0 1rem;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:active {
  background-color: #fff;
  border-radius: 1rem 0 0 1rem;
}

.react-tel-input .flag-dropdown.open {
  background: #fff;
  border-radius: 1rem 0 0 1rem;
}

.react-tel-input .flag-dropdown.open .selected-flag {
  background: rgb(238, 238, 238);
  border-radius: 1rem 0 0 1rem;
}

.sec-1::after {
  content: url('/images/sec1-cicles.svg');
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: -100px;
}

.sec-2::after {
  content: url('/images/sec2-cicles.svg');
  z-index: -1;
  position: absolute;
  left: 0;
  top: -70px;
}

.sec-3::after {
  content: url('/images/sec3-cicles.svg');
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: -160px;
}

@media only screen and (max-width: 1200px) {
  .sec-3::after {
    display: none;
  }

  .sec-2::after {
    width: 100px;
  }
}

@media only screen and (max-width: 400px) {
  .sec-2::after {
    display: none;
  }
}

.textarea-translator[contentEditable]:empty::before {
  content: 'Type here!';
}

.loader1 {
  border-radius: 50%;
  border-top: 20px solid dodgerblue;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid dodgerblue;
  animation-name: rotatepos;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.inside1 {
  display: flex;
  place-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border-left: 20px solid dodgerblue;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid dodgerblue;
  animation-name: buruh;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.loader1 {
  height: 150px;
  width: 150px;
}

.inside1 span {
  animation-name: rotatepos;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  font-family: monospace;
  color: dodgerblue;
}

@keyframes rotatepos {
  0% {}

  50% {
    transform: rotate(360deg);
  }
}

@keyframes buruh {
  0% {}

  50% {
    transform: rotate(-720deg);
  }
}

@keyframes stuff2 {
  0% {}

  50% {
    transform: rotate(720deg);
  }
}
